.icon {
    height: 2em;
    vertical-align: middle;
    background-color: transparent;
}

.deleteButton {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }

.productItem{
    list-style-type: none;
    margin-bottom: 15px;
}

.productContent {
    display: flex;
    align-items: center;
    gap: 20px;
}

.productName{
    flex-grow: 1;
}

